* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:  #1a1d29;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    margin-top: 20px;
    display: flex;
    padding: 0 15px;
    background: none;
}

.navbar__links {
    font-family: "Open Sans", serif;
    color: whitesmoke;
    margin: 15px;
    font-size: 16px;
}

.navbar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar_item {
    display: inline;
    margin-left: 15px;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
