@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body * {
    font-family: "Open Sans", sans-serif;
}

body {
    background: #1a1d29;
    color: whitesmoke;
}

.main-page {
    padding-left: 5.6rem !important;
    padding-right: 5.6rem !important;
}