.filmContainer {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    max-height: 309px;
    max-width: 206px;
    border-radius: 8px;
}

.filmContainer * {
    background: transparent;
    text-align: left;
    color: whitesmoke;
}

.poster, .activePoster {
    width: 206px;
    height: 309px;
    margin: auto;
    padding: 0;
    border-radius: 8px;
}

.activePoster {
    opacity: 0.3;
}

.centeredBox {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hiddenBox {
    display: none;
}

.centeredBox > ul {
    list-style: none;
}
