.headerContainer {
    padding-left: 5.6rem !important;
    padding-right: 5.6rem !important;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: none;
}

.left {
    align-items: center;
}

.right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4rem;
    width: 100%;
}

.right__nav {
    justify-self: start;
}

.right__acc {
    justify-self: end;
}

.btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: whitesmoke;
    background: linear-gradient(263.27deg,#2f9fff,#0089ff 58.72%,#0089ff 90.93%);
    border-width: 0;
    cursor: pointer;
}

button > img {
    margin-right: 10px;
}

button > * {
    background: none;
}