.btn {
    display: flex;
    align-items: center;
    border-radius: 12px;
    font-weight: 600;
    color: whitesmoke;
    margin: 0;
    padding: 8px 16px;
    background: linear-gradient(263.27deg, #2f9fff, #0089ff 58.72%, #0089ff 90.93%);
    border-width: 0;
    cursor: pointer;
}

.iconBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 10px;
    background: linear-gradient(263.27deg, #2f9fff, #0089ff 58.72%, #0089ff 90.93%);
    border-width: 0;
    cursor: pointer;
}