.film-grid {
    display: grid;
    justify-content: left;
    grid-gap: 29px 19px;
    grid-template-columns: repeat(auto-fit, minmax(206px, 1fr));
    grid-template-rows: auto;
}

.title-container__title {
    font-weight: 400;
    font-size: 33px;
}

.title-container {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.filter-wrapper {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
}

.filter-wrapper__input {
    color: whitesmoke;
    background: #2d303b;
    border-color: hsla(0, 0%, 100%, .15);
}

.filter-wrapper__input::placeholder{
    opacity: 1;
    color: hsla(0, 0%, 100%, .15);
}