.film-grid {
    display: grid;
    justify-content: left;
    grid-gap: 29px 19px;
    grid-template-columns: repeat(auto-fit, minmax(206px, 1fr));
    grid-template-rows: auto;
}

.title-container__title {
    font-weight: 400;
    font-size: 33px;
}

.title-container {
    margin-bottom: 20px;
    width: 100%;
}


