.overview-section {
    display: flex;
}

.overview-section__big-poster {
    width: 302px;
    height: 469px;
    margin-right: 80px;
    border-radius: 15px;
}

.film-info {
    display: flex;
    flex-direction: column;
}

.film-info__title {
    margin: 0;
    font-size: 40px;
}

.film-info__buttons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.film-info__ticket-icon {
    margin-right: 10px;
    width: 26px;
    height: 24px;
}

.film-info__ticket-text {
    margin-right: 3px;
}

.film-info__favorite-icon {
    width: 32px;
    height: 29px;
}

.film-detail {
    display: flex;
    flex-direction: column;
}

.film-detail__title {
    margin-top: 1em;
}

.film-detail__year {
}

.film-genres {
    margin-top: .3em;
}

.film-genres__list {
    list-style: none;
    padding: 0;
    display: inline;
}

.film-genres__list-item {
    display: inline;
    margin-right: 5px;
}

.film-detail__description {
    margin-top: 1em;
}
