.films-section {

}

.film-grid {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.title {
    color: whitesmoke;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 33px;
}

.title-container {
    margin-bottom: 20px;
    width: 100%;
    flex: 1;
}


