.film-grid {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.title-container__title {
    font-weight: 400;
    font-size: 33px;
}

.title-container {
    margin-bottom: 20px;
    width: 100%;
}


