.container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container > * {
    background-color: white;
    margin: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

form > * {
    border: 1px solid silver;
    padding: 8px 20px;
    border-radius: 5px;
    margin-top: 5px;
    color: #1a1d29;
    background-color: white;
}

input {
    width: 200px;
    height: 50px;
    text-align: left;
}

button {
    cursor: pointer;
}

.secondary-btn {
    border: transparent;
}
