.auth-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth-container * {
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
}

.auth-container__title {
    text-align: center;
    width: 100%;
}

.auth-container__form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.auth-container__input {
    background: #2d303b;
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 6px;
    opacity: .8;
    padding: 8px 24px;
}

.auth-container__change {
    display: inline-flex;
    justify-content: space-between;
    background-color: transparent;
    font-size: 12px;
    border: 0;
    text-align: center;
}

.auth-container__change-hyperlink {
    background-color: transparent;
    cursor: pointer;
}

.auth-container__button{
    margin: 10px;
}
